:root {

    /*   FONT   */
    --heebo: Heebo;

    /* Colors */
    --white: #fff;
    --Dark-Color: #21243D;
    --primary: #FF6464;
    --secondary: #00A8CC;
    --dark-blue: #142850;
    --black: #000;
    --light: #8695A4;
    --gray-5: #E0E0E0;
}